

.first-page {
    background-color: #C4C4C4;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}

@media screen and (max-width:767px) {
    .first-page {
        background-image: url('../web-studio-gallery/mobile-photo/main-page/bg-mobile.jpg');
    }
}

@media screen and (min-device-pixel-ratio:2) and (max-width:767px),
  screen and (min-resolution:192dpi) and (max-width:767px),
  screen and (min-resolution: 2dppx) and (max-width:767px) {
    .first-page {
      background-image: url('../web-studio-gallery/mobile-photo/main-page/bg-mobile@2x.jpg');
    }
 }

 @media screen and (min-width:768px) {
    .first-page {
        background-image: url('../web-studio-gallery/tablet-photo/main-page/bg-tablet.jpg');
    }
 }

 @media screen and (min-device-pixel-ratio:2) and (min-width:768px),
 screen and (min-resolution:192dpi) and (min-width:768px),
 screen and (min-resolution: 2dppx) and (min-width:768px) {
     .first-page {
         background-image: url('../web-studio-gallery/tablet-photo/main-page/bg-tablet@2x.jpg');
     }
 }


@media screen and (min-width:1200px) {
    .first-page {
        background-image: url('../web-studio-gallery/desktop-photo/main-page/bg-desktop.jpg');
    }
}

 @media screen and (min-device-pixel-ratio:2) and (min-width:1200px),
 screen and (min-resolution:192dpi) and (min-width:1200px),
 screen and (min-resolution: 2dppx) and (min-width:1200px) {
     .first-page {
         background-image: url('../web-studio-gallery/desktop-photo/main-page/bg-desktop@2x.jpg');
     }
}

@media screen and (max-width:1199px) {
    .first-page {
        padding-top: 118px;
        padding-bottom: 118px;
    }
}