.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #2196F3;
}

.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.portfolio-footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.logo {
    text-decoration: none;
}

.logo-container {
    display: flex;
    padding-bottom: 24px;
    padding-top: 25px;
    align-items: center;
}

.footer-logo {
    display: flex;
    margin-bottom: 20px;
}

.logo-portfolio {
    padding-top: 24px;
    padding-bottom: 25px;
}