.secondpage-svgs {
    display: flex;
    gap: 30px;
}

.antenna-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}

@media screen and (max-width:767px) {
    .antenna-div {
        width: 450px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .antenna-div {
        width: 354px;
    }
}

.time-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}

@media screen and (max-width:767px) {
    .time-div {
        width: 450px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .time-div {
        width: 354px;
    }
}


.chart-div {
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:767px) {
    .chart-div {
        width: 450px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .chart-div {
        width: 354px;
    }
}

.man-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}

@media screen and (max-width:767px) {
    .man-div {
        width: 450px;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .man-div {
        width: 354px;
    }
}