.secondpage-svgs {
    display: flex;
    gap: 30px;
}

.antenna-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}

.time-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}


.chart-div {
    display: flex;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.man-div {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    background: #F5F4FA;
    border-radius: 4px;
}